@*
    Pour plus d'informations sur l'activation de MVC pour les projets vides, consultez https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Accueil";
}

<h1 style="font-size: 70px; color: #00BFFF;">Bienvenue chez Voiture Express</h1>
<!-- Ajoutez ici le contenu de votre page d'accueil -->
<img src="~/R.jpg" alt="Image d'exemple">
