@page
@model VoitureExpress.logoModel
@{
    Layout = null;
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accueil</title>
    <style>
        body {
            background-color: gray;
        }

        #logo {
            width: 200px;
            height: 200px;
            background-image: url("C:/Users/A154NF/OneDrive - AXA/Images/logo_service_automobile_sa.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin: 50px auto;
        }
    </style>
</head>
<body>
    <div id="logo"></div>
</body>
</html>