@*
    Pour plus d'informations sur l'activation de MVC pour les projets vides, consultez https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Accueil";
}

<h1 style="font-size: 70px; color: #00BFFF;">Bienvenue chez Voiture Express</h1>
<!-- Ajoutez ici le contenu de votre page d'accueil -->
<p>Ceci est le contenu de votre page d'accueil.</p>
<img src="https://axa365-my.sharepoint.com/:i:/r/personal/a154nf_login_axa/Documents/Images/R.jpg?csf=1&web=1&e=7jwBQl" alt="Image d'exemple">
